{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pddquizzrep.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logoGATE.png' %}"/>
</head>
<body>
    {% include 'GATE_website/quizznavbar.html' %}
    {% block content %}
    {% endblock %}
    <section id="main">
        <div class="above">
            <h1 id="title">Questionnaire Protection des données correction</h1>
            <form method="POST" action="">
                {% csrf_token %}
                {% for question in questions %}
                    {% if question.reponse1 == "null" %}
                        <div class="cadre_court">
                            <h3>{{ question.enonce | safe }}</h3>
                            <div class="reponse">
                            <input id="submitrep" type="text" name="{{question.numero}}" placeholder="Répondre" required="">
                            </div>
                            {% if question.numero in vrai %}
                                <div class="reponse1_qcm_rep">
                                    <p>{{question.explication}}</p>
                                </div>
                            {% else %}
                                <div class="reponse1_qcm_repf">
                                    <p>Votre réponse est fausse... Essayez encore</p>
                                </div>
                            {% endif %}
                        </div>

                    {% elif question.qcm == True and question.reponse3 == 'null' %}
                        <div class="cadre_qcm_court">
                            <h3>{{ question.enonce | safe }}</h3>
                            <div class="reponse1_qcm">
                                <div class="input">
                                    {% with question.numero|add:'.1' as qnum %}
                                    {% if qnum in liste_rep %}
                                        <input type="checkbox" id="1" name="qcm1" value="{{question.numero}}.1" checked disabled>
                                    {% else %}
                                        <input type="checkbox" id="1" name="qcm1" value="{{question.numero}}.1" disabled>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                                <label for="qcmchoice1">{{question.reponse1}}</label>
                            </div>
                            <div class="reponse1_qcm">
                                <div class="input">
                                    {% with question.numero|add:'.2' as qnum %}
                                    {% if qnum in liste_rep %}
                                        <input type="checkbox" id="2" name="qcm1" value="{{question.numero}}.2" checked disabled>
                                    {% else %}
                                        <input type="checkbox" id="2" name="qcm1" value="{{question.numero}}.2" disabled>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                                <label for="qcmchoice2">{{question.reponse2}}</label>
                            </div>
                            {% if question.numero in vrai %}
                                <div class="reponse1_qcm_rep">
                                    <p>{{question.explication}}</p>
                                </div>
                            {% else %}
                                <div class="reponse1_qcm_repf">
                                    <p>Votre réponse est fausse... Essayez encore</p>
                                </div>
                            {% endif %}
                        </div>
                    {% elif question.qcm == True %}
                        <div class="cadre_qcm">
                            <h3>{{ question.enonce | safe }}</h3>
                            <div class="reponse1_qcm">
                                <div class="input">
                                {% with question.numero|add:'.1' as qnum %}
                                    {% if qnum in liste_rep %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.1" checked disabled>

                                    {% else %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.1" disabled>
                                    {% endif %}
                                {% endwith %}
                                </div>
                                <label for="qcmchoice1">{{question.reponse1}}</label>
                            </div>
                            <div class="reponse1_qcm">
                                <div class="input">
                                    {% with question.numero|add:'.2' as qnum %}
                                    {% if qnum in liste_rep %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.2" checked disabled>

                                    {% else %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.2" disabled>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                                <label for="qcmchoice2">{{question.reponse2}}</label>
                            </div>
                            <div class="reponse1_qcm">
                                <div class="input">
                                {% with question.numero|add:'.3' as qnum %}
                                    {% if qnum in liste_rep %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.3" checked disabled>

                                    {% else %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.3" disabled>
                                    {% endif %}
                                {% endwith %}
                                </div>
                                <label for="qcmchoice3">{{question.reponse3}}</label>
                            </div>
                            <div class="reponse1_qcm">
                                <div class="input">
                                {% with question.numero|add:'.4' as qnum %}
                                    {% if qnum in liste_rep %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.4" checked disabled>

                                    {% else %}
                                        <input type="checkbox" id="Vrai" name="qcm1" value="{{question.numero}}.4" disabled>
                                    {% endif %}
                                {% endwith %}
                                </div>
                                <label for="qcmchoice4">{{question.reponce4}}</label>
                            </div>
                            {% if question.numero in vrai %}
                                <div class="reponse1_qcm_rep">
                                    <p>{{question.explication}}</p>
                                </div>
                            {% else %}
                                <div class="reponse1_qcm_repf">
                                    <p>Votre réponse est fausse... Essayez encore</p>
                                </div>
                            {% endif %}
                        </div>

                    {% else %}
                        <div class="cadre">
                            <h3>{{ question.enonce | safe }}</h3>
                            <div class="reponse1">
                                <p>{{question.reponse1}}</p>
                            </div>
                            <div class="reponse1">
                                <p>{{question.reponse2}}</p>
                            </div>
                            <div class="reponse1">
                                <p>{{question.reponse3}}</p>
                            </div>
                            <div class="reponse1">
                                <p>{{question.reponce4}}</p>
                            </div>
                            <div class="reponse">
                            <input id="submitrep" type="text" name="{{question.numero}}" placeholder="Répondre" required="">
                            </div>
                            {% if question.numero in vrai %}
                                <div class="reponse1_qcm_rep">
                                    <p>{{question.explication}}</p>
                                </div>
                            {% else %}
                                <div class="reponse1_qcm_repf">
                                    <p>Votre réponse est fausse... Essayez encore</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
             <button id="submit" type="submit" formaction="../quizz/">Retour</button>
            </form>


        </div>


    </section>

    <footer>
        <div class="parentIcon">
            <a href="https://www.facebook.com/profile.php?id=100087748087188" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/astro_2023_/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@astro-listebde2023" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="copy">
            <p>Copyright © 2023 - Projet GATE Log'INT
            </p>
        </div>
    </footer>

    <script src="{% static 'js/pddquizzrep.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>