{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log'INT | Projet GATE 2023</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logoGATE.png' %}"/>
</head>
<body>

    {% include 'GATE_website/navbar.html' %}
    {% block content %}
    {% endblock %}

        <section id="background">
        <div class="title">
            <img class="child1" src="{% static "img/banner.jpg" %}" alt="home">
            <div class="above">
                <h1>LOG'INT</h1>
                <div class="parentIcon1">
                    <a href="https://www.instagram.com/log_int_2023/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/log-int2023/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/abonnivard/GATE_website" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>

                </div>
            </div>
        </div>
            <div class="bloque" id="a-propos">
            <div class="texte">
                <h1>A propos de nous :</h1>
                <div class="line">
                </div>
                <p>Log’INT est un groupe de 7 étudiants de l’école Télécom SudParis ayant pour but de sensibiliser à la cybersécurité. Notre objectif est de pouvoir faire partie des chatons car leur vision s’aligne avec ce que nous souhaitons porter dans notre projet. Nous sommes actuellement en phase de candidature. </p>
            </div>
            <div class="image">
                <img src="{% static "img/about_right.jpg" %}" alt="test">
            </div>
        </div>
        <div class="bloque2">
            <div class="texte2">
                <h1>Ce qu'on fait :</h1>
                <div class="cadretexte">
                <p>Pour sensibiliser le plus de monde possible, nous allons proposer des conférences autour du thème de la cybersécurité à d’autres étudiants sur le campus de Télécom SudParis et nous comptons mettre en ligne un site fonctionnant sur le principe de l’initiative de l’Éducation Nationale PIX.
Notre site internet permettra d’accéder à différentes ressources pour améliorer son hygiène numérique, que ce soit de bons réflexes à prendre ou de sites plus respectueux de la vie privée des utilisateurs. Il y aura aussi une partie quiz, permettant de juger les connaissances acquises et redirigeant vers les ressources les plus à propos pour pallier au manque de connaissance.</p>
                </div>
            </div>
            <div class="image2">
                <img src="{% static 'img/software_img.jpg' %}" alt="image">
            </div>
        </div>
    </section>


        <footer>
        <div class="parentIcon">
            <a href="https://www.instagram.com/log_int_2023/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/log-int2023/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/abonnivard/GATE_website" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>

        </div>
        <div class="copy">
            <p>Copyright © 2023 - Projet GATE Log'INT - <a href="../cgu/" target="_blank" rel="noopener noreferrer">Conditions générales d'utilisation</a>
            </p>

        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>