{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizz |Log'INT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/quizz.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'GATE_website/quizznavbar.html' %}
    {% block content %}
    {% endblock %}

    <section id="main">
        <div class="texte">
            <h1>Selectionner un Quizz</h1>
        </div>
    <div class="all">
        <div class="cadre1">
            <div class="texte1">
                <h1>Protection des données</h1>
            </div>
            <div class="all1">
            <div class="cadrein1">
                <div class="imagein1">
                    <img src="{% static 'img/kisspng-general-data-protection-regulation-information-pri-gdpr-5b0eab592b23a7.8898485115276880251767.png' %}" alt="">
                </div>
                <div class="niveau11">
                    <p>Niveau 1 : les bases</p>
                    <p style="font-size:0.8rem; margin-bottom: -20px; margin-top: -20px">Nécessite de se renseigner sur Cookie Scanner</p>
                </div>
                <div class="bas11">

                    <div class="bouton11">
                        <a href="{% url 'questionnaire:pddquizz1' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>

                    <div class="score11">
                        <p>Score : {{joueur.qcmpdd1pourcentage}} %</p>
                    </div>
                </div>
            </div>
            <div class="cadrein12">
                <div class="imagein12">
                    <img src="{% static 'img/kisspng-general-data-protection-regulation-information-pri-gdpr-5b0eab592b23a7.8898485115276880251767.png' %}" alt="">
                </div>
                <div class="niveau12">
                    <p>Niveau 2 : Intermediaire</p>
                    <p style="font-size:0.8rem; margin-bottom: -37px; margin-top: -20px">Nécessite de se renseigner sur exodus et Cookie Scanner</p>
                </div>
                <div class="bas12">
                    <div class="bouton12">
                        <a href="{% url 'questionnaire:pddquizz2' %}" style="text-decoration: none; color: white">
                            <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score12">
                        <p>Score : {{joueur.qcmpdd2pourcentage}} %</p>
                    </div>
                </div>
            </div>
             <div class="cadrein13">
                <div class="imagein13">
                    <img src="{% static 'img/kisspng-general-data-protection-regulation-information-pri-gdpr-5b0eab592b23a7.8898485115276880251767.png' %}" alt="">
                </div>
                <div class="niveau13">
                    <p>Niveau 3 : Difficile</p>
                    <p style="font-size:0.8rem; margin-bottom: -20px; margin-top: -20px">Nécessite de se renseigner sur Cookie Scanner</p>
                </div>
                <div class="bas13">
                    <div class="bouton13">
                        <a href="{% url 'questionnaire:pddquizz3' %}" style="text-decoration: none; color: white">
                            <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score13">
                        <p>Score : {{joueur.qcmpdd3pourcentage}} %</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="progressbar1">
                    <div class="progressbar-level1" style="width: {{joueur.qcmpddTpourcentage}}%">
                        <p>{{joueur.qcmpddTpourcentage}}%</p>
                    </div>
            </div>
        </div>
<div class="cadre1">
            <div class="texte1">
                <h1>Protection contre les menaces</h1>
            </div>
            <div class="all1">
            <div class="cadrein2">
                <div class="imagein2">
                    <img src="{% static 'img/Cybersecurity.png' %}" alt="">
                </div>
                <div class="niveau21">
                    <p>Niveau 1 : les bases</p>
                </div>
                <div class="bas11">

                    <div class="bouton21">
                        <a href="{% url 'questionnaire:pcm1' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>

                    <div class="score21">
                        <p>Score : {{joueur.qcmpcm1pourcentage}} %</p>
                    </div>
                </div>
            </div>
            <div class="cadrein22">
                <div class="imagein22">
                    <img src="{% static 'img/Cybersecurity.png' %}" alt="">
                </div>
                <div class="niveau12">
                    <p>Niveau 2 : Intermediaire</p>
                    <p style="font-size:0.8rem; margin-bottom: -20px; margin-top: -20px">Nécessite de se renseigner sur VirusTotal</p>

                </div>
                <div class="bas12">
                    <div class="bouton22">
                        <a href="{% url 'questionnaire:pcm2' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score22">
                        <p>Score : {{joueur.qcmpcm2pourcentage}} %</p>
                    </div>
                </div>
            </div>
             <div class="cadrein23">
                <div class="imagein23">
                    <img src="{% static 'img/Cybersecurity.png' %}" alt="">
                </div>
                <div class="niveau23">
                    <p>Niveau 3 : Difficile</p>
                </div>
                <div class="bas13">
                    <div class="bouton23">
                        <a href="{% url 'questionnaire:pcm3' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score23">
                        <p>Score : {{joueur.qcmpcm3pourcentage}} %</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="progressbar2">
                    <div class="progressbar-level2" style="width: {{joueur.qcmpcmTpourcentage}}%">
                        <p>{{joueur.qcmpcmTpourcentage}}%</p>
                    </div>
            </div>
        </div>
<div class="cadre1">
            <div class="texte1">
                <h1>Hygiène du numérique</h1>
            </div>
            <div class="all1">
            <div class="cadrein3">
                <div class="imagein3">
                    <img src="{% static 'img/cookies-comportement.png' %}" alt="">
                </div>
                <div class="niveau31">
                    <p>Niveau 1 : les bases</p>
                </div>
                <div class="bas11">

                    <div class="bouton31">
                        <a href="{% url 'questionnaire:hn1' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>

                    <div class="score31">
                        <p>Score : {{joueur.qcmhn1pourcentage}} %</p>
                    </div>
                </div>
            </div>
            <div class="cadrein32">
                <div class="imagein32">
                    <img src="{% static 'img/cookies-comportement.png' %}" alt="">
                </div>
                <div class="niveau32">
                    <p>Niveau 2 : Intermediaire</p>
                </div>
                <div class="bas32">
                    <div class="bouton32">
                        <a href="{% url 'questionnaire:hn2' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score32">
                        <p>Score : {{joueur.qcmhn2pourcentage}} %</p>
                    </div>
                </div>
            </div>
             <div class="cadrein33">
                <div class="imagein33">
                    <img src="{% static 'img/cookies-comportement.png' %}" alt="">
                </div>
                <div class="niveau33">
                    <p>Niveau 3 : Difficile</p>
                </div>
                <div class="bas33">
                    <div class="bouton33">
                        <a href="{% url 'questionnaire:hn3' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score33">
                        <p>Score : {{joueur.qcmhn3pourcentage}} %</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="progressbar3">
                    <div class="progressbar-level3" style="width: {{joueur.qcmhnTpourcentage}}%">
                        <p>{{joueur.qcmhnTpourcentage}}%</p>
                    </div>
            </div>
        </div>
        <div class="cadre-mdp">
            <div class="texte1">
                <h1>Mot de passe et authentification</h1>
            </div>
            <div class="all1">
            <div class="cadrein4">
                <div class="imagein4">
                    <img src="{% static 'img/103089.png' %}" alt="">
                </div>
                <div class="niveau41">
                    <p>Niveau 1 : les bases</p>
                </div>
                <div class="bas11">

                    <div class="bouton41">
                        <a href="{% url 'questionnaire:mdp1' %}" style="text-decoration: none; color: white">
                        <p>Jouer</p>
                        </a>
                    </div>

                    <div class="score41">
                        <p>Score : {{joueur.qcmmea1pourcentage}} %</p>
                    </div>
                </div>
            </div>
            <div class="cadrein42">
                <div class="imagein42">
                    <img src="{% static 'img/103089.png' %}" alt="">
                </div>
                <div class="niveau42">
                    <p>Niveau 2 : Intermediaire</p>
                    <p style="font-size:0.8rem; margin-bottom: -20px; margin-top: -20px">Nécessite de se renseigner sur ProtonVPN</p>
                </div>
                <div class="bas42">
                    <div class="bouton42">
                        <a href="{% url 'questionnaire:mdp2' %}" style="text-decoration: none; color: white">
                            <p>Jouer</p>
                        </a>
                    </div>
                    <div class="score42">
                        <p>Score : {{joueur.qcmmea2pourcentage}} %</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="progressbar4">
                    <div class="progressbar-level4" style="width: {{joueur.qcmmeaTpourcentage}}%">
                        <p>{{joueur.qcmmeaTpourcentage}}%</p>
                    </div>
            </div>
        </div>
    </div>
    </section>

     <footer>
        <div class="parentIcon">
            <a href="https://www.instagram.com/log_int_2023/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/log-int2023/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/abonnivard/GATE_website" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>

        </div>
        <div class="copy">
            <p>Copyright © 2023 - Projet GATE Log'INT - <a href="../cgu/" target="_blank" rel="noopener noreferrer">Conditions générales d'utilisation</a>
            </p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
